<h1>TODO APP</h1>

<!-- CREATE -->
<!-- #review javascript:void -->
<form action="javascript:void(0);" ng-submit="addItem()">
	<input type="text" ng-model ="newItem.description" placeholder="task" autofocus required>
	<button>Add Item</button>
</form>

<ul ng-repeat = "item in todo_items">
	<!-- <p> Item # {{item.id}}</p> -->
	<p>{{item.description}}</p>
	<!-- why does the value of the checkbox get evaluated after ng-click -->
	<input type="checkbox" ng-model ="item.completed" ng-click="completedItem(item)"><label>Completed</label>
	<input type="checkbox" ng-model="checked" id="editing{{$index}}"><label for="editing{{$index}}">Edit</label>
	<form ng-submit = "editItem(item)" ng-show="checked">
		<input type="text" ng-model="item.description">
		<button>Edit Task</button>
	</form>
	<button ng-click = "deleteItem(item)">Delete</button>
</ul>


